.img-egg{
    height: 28px;
  }

.HomeContainer{
    margin: auto;
    box-sizing: border-box;
    width: 30%;
}

.EnterContainer{
    padding: 1.5rem;
    box-sizing: border-box;
    background-color: white;
    border-radius: 20px;
    position: relative;
    
}



