.search-form {
    max-width: 190px;
    position: relative;
}

.search-form input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 20px;
    width: 100%;
}
.search-form input:focus{
    border-color: #240370;
}

