*{
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
}

body{
  margin-top: 100px;
  background-color: #3f3f3f;
  text-align: center;
}


.openModalBtn {
  display: flex;
  font-weight: bold;
  align-items: center;
  font-size: medium;
  margin: 0 20px;
  cursor: pointer;
}

li{
list-style-type: none;
}
